.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 0px var(--primary-dark-shadow); */
  box-shadow: var(--neomorphism-big);
  margin-bottom: 20px;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 1rem; */
  position: relative;
  word-break: break-word;
}
.content > h2 {
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
}
.content > p {
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;

}
.content > a {
  color: var(--primary-link);
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}
.content > a:hover {
  color: var(--primary-link-hover);
}
.deletepost {
  cursor: pointer;
  color: var(--primary-error-light);
  /* background-color: black; */
  position: absolute;
  right: 0;
  top: 1.2em;
  font-size: 1.5em;
  padding: 0;
}

.date {
  margin-block: 1em;
  padding: 5px 0;
  font-family: "Roboto Mono", monospace;
  background-color: var(--primary);
  border-radius: 10px;
}

.seecomments {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  /* font-size: .9em; */
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}

.count {
  font-family: "Roboto Mono", monospace;
  margin-left: 0.3rem;
}

.likes,
.dislikes,
.comments {
  height: 2rem;
  width: 2rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--neomorphism-small);
  cursor: pointer;
  color: var(--dark-primary);
}
.comments {
  text-decoration: none;
}

.active {
  box-shadow: var(--neomorphism-small-inset);
}

@media only screen and (min-width: 300px) {
  .likes,
  .dislikes,
  .comments {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
  .deletepost {
    top: .8em;
  }
}
@media only screen and (min-width: 500px) {
  .seecomments {
    bottom: 1.34rem;
  }
  .deletepost {
    top: .8em;
  }
}
