.allusers {
  /* height: 100vh; */
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.allusers > h1 {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* background-color: #941212; */
  margin: 0.5em;
  box-shadow: var(--neomorphism-big);
  border-radius: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* margin-block: 2em; */
  border-radius: 10px;
  width: 15em;
  background-color: var(--primary);
  /* box-shadow: var(--neomorphism-medium); */
}

.user > h2 {
  font-family: "Noto Sans", sans-serif;
}

.user > a {
  color: var(--primary-link);
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.user > p,
user > span {
  font-family: "Roboto Mono", monospace;
}
.user > hr {
  margin-top: 3em;
}
.users :last-child > hr {
  display: none;
}

@media only screen and (min-width: 550px) {
  .users {
    width: 500px;
  }
  .user {
    width: 500px;
  }
}
