.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: var(--primary);
  /* background-color: red; */
}

.header__box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background: red; */
}

.header__item {
  list-style: none;
  transform: scale(1.5);
  transition: all 0.3s;
}

.header__link {
  color: var(--dark-primary);
  transition: all 0.3s;
}

.header__link:hover {
  color: var(--primary-button-hover);
}
.header__item:hover {
  transform: scale(1.7);
}

.logo {
  display: none;
  height: 2em;
  width: 2em;
  list-style: none;
  width: 10%;
}

.logo img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.active {
  color: var(--primary-button);
}

@media only screen and (min-width: 500px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}
